<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner_img.jpg'%>);">
  <div class="container">
    <h1 class='d-flex justify-content-center'>Save any kind of movies!</h1>
    <p class='d-flex justify-content-center'>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<br>
<div class="container">
  <h1 class="d-flex justify-content-center " style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">My Lists</h1>
  <br>
  <div class="row row-cols-1 row-cols-md-2">
  <% @lists.each do |list| %>
    <div class="col mb-4 d-flex justify-content-center">
      <div class="shadow mb-3 bg-white rounded">
        <div class="card img-fluid" style="width:500px">
          <% if list.photo.attached?%>
            <%= cl_image_tag list.photo.key, class: "card-img-top", style: "width:100%" %>
          <% elsif File.file?("app/assets/images/#{list.name.downcase}.jpg") %>
            <%= image_tag "#{list.name.downcase}.jpg", alt: "#{list.name}-list", class: "card-img-top", style: "width:100%" %>
          <% else %>
            <%= image_tag "https://source.unsplash.com/1024x768/?#{list.name.downcase},movies", alt: "#{list.name}-list", class: "card-img-top", style: "width:100%" %>
          <% end %>
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h3 class="card-title"><%= link_to "#{list.name}", list_path(list) %></h3>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
