<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%# <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="d-block">
      <%= render 'shared/navbar' %>
      <div class='body'>
        <%= yield %>
      </div>
      <div class="footer">
        <div class="footer-links">
          <a href="https://github.com/osorioluisfelipe" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/osorio_luisfelipe/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/luisfelipebaumotteosorio/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          Developed with <i class="fas fa-heart"></i> by Luis Felipe
        </div>
      </div>
    </div>
    <%# <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script> %>
  </body>
</html>
